body{
    background: url('css/image/bg.jpg') rgba(158, 109, 45, 0.3);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width: 991px){
    .sidebar {
        background-color: rgba(156, 65, 65, 0.15);
        backdrop-filter: blur(10px);
    }
}